.page-home {
  display: flex;
  flex-direction: column;

  // home页头
  .header {
    height: 44px;
    padding: 10px 20px;
    background-color: #d43d3d;
    display: flex;
    justify-content: space-between;
    .hd-l {
      width: 40px;
      background: url(../../assets/message.png) no-repeat center;
      background-size: contain;
    }
    .hd-m {
      width: 100px;
      background: url(../../assets/logo_white.png) no-repeat center;
      background-size: cover;
    }
    .hd-r {
      width: 40px;
      background: url(../../assets/search_white.png) no-repeat center;
      background-size: contain;
    }
  }

  // hone频道列表
  .navbar {
    height: 37px;
    background-color: #f4f5f6;
    border-bottom: 1px solid rgba(221,221,221,.4);
    display: flex;
    .navlist {
      flex: 1;
      line-height: 36px;
      overflow: auto;
      overflow-y: hidden;
      white-space: nowrap;
      .nav {
        display: inline-block;
        padding: 0 14px;
        font-size: 17px;
        color: #505050;
        &.active {
          color: #f85959;
        }
      }
    }
    .plusnav {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      box-shadow: -4px 0 5px -3px #aaa;
      &::before, &::after {
        content: " ";
        display: block;
        position: absolute;
        background-color: #f85959;
      }
      &::before {
        width: 17px;
        height: 2px;
      }
      &::after {
        width: 2px;
        height: 17px;
      }
    }
  }

  // home信息流
  .feedlist {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
    
    // 到底了
    .feed-none {
      text-align: center;
      font-size: 12px;
      color: #999;
      padding: 10px 0;
    }
  }
}