.page-home {
  display: flex;
  flex-direction: column;

  // home页头
  .header {
    height: 44px;
    padding: 10px 20px;
    background-color: #d43d3d;
    display: flex;
    justify-content: space-between;
    .hd-l {
      width: 40px;
      background: url(./images/feed_message@3x.png) no-repeat center;
      background-size: contain;
    }
    .hd-m {
      width: 100px;
      background: url(./images/wap_logo@3x.png) no-repeat center;
      background-size: cover;
    }
    .hd-r {
      width: 40px;
      background: url(./images/feed_search@3x.png) no-repeat center;
      background-size: contain;
    }
  }

  // hone频道列表
  .navbar {
    height: 37px;
    background-color: #f4f5f6;
    border-bottom: 1px solid rgba(221,221,221,.4);
    display: flex;
    .navlist {
      flex: 1;
      line-height: 36px;
      overflow: auto;
      overflow-y: hidden;
      white-space: nowrap;
      .nav {
        display: inline-block;
        padding: 0 14px;
        font-size: 17px;
        color: #505050;
        &.active {
          color: #f85959;
        }
      }
    }
    .plusnav {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      box-shadow: -4px 0 5px -3px #aaa;
      &::before, &::after {
        content: " ";
        display: block;
        position: absolute;
        background-color: #f85959;
      }
      &::before {
        width: 17px;
        height: 2px;
      }
      &::after {
        width: 2px;
        height: 17px;
      }
    }
  }

  // home信息流
  .feedlist {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
    .feed {
      display: block;
      margin: 0 15px;
      padding: 16px 0;
      border-bottom: 1px solid rgba(221,221,221,.4);
      &:last-of-type {
        border-bottom-color: transparent;
      }

      .feed-tit {
        font-size: 17px;
        line-height: 1.4;
        color: #222;
      }

      .feed-info {
        margin-top: 6px;
        font-size: 12px;
        color: #999;
        .fixtag {
          display: inline-block;
          border: 1px solid rgba(153, 153, 153, 0.5);
          border-radius: 2px;
          height: 16px;
          line-height: 16px;
          font-size: 10px;
          padding: 0 2px;
          margin-right: 4px;
          &.fixtop {
            color: #f85959;
            border-color: rgba(248, 89, 89, 0.5);
          }
        }
        .close {
          position: relative;
          float: right;
          box-shadow: 0 0 1px #999;
          border-radius: 2px;
          margin-top: 3px;
          height: 12px;
          width: 20px;
          background: url(./images/feed_close.png) no-repeat center;
          background-size: 8px;
        }
      }
    }

    // 小图信息流
    .feed-smallpic {
      .feed-l {
        display: inline-block;
        vertical-align: middle;
        width: 67%;
        padding-right: 12px;
      }
      .feed-r {
        display: inline-block;
        vertical-align: middle;
        width: 33%;
        overflow: hidden;
        img {
          float: left;
          width: 100%;
        }
      }
    }

    // 三图信息流
    .feed-threepic {
      .feed-pic {
        margin-top: 4px;
        overflow: hidden;
        img {
          float: left;
          width: 33%;
          &:nth-of-type(2) {
            margin: 0 .5%;
          }
        }
      }
    }

    // 大图信息流
    .feed-bigpic {
      .feed-pic {
        margin-top: 4px;
        overflow: hidden;
        img {
          float: left;
          width: 100%;
        }
      }
    }

    // 视频信息流
    .feed-video {
      position: relative;
      .feed-tit {
        position: absolute;
        left: 0;
        top: 16px;
        z-index: 4;
        width: 100%;
        color: #eee;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        height: 40%;
        font-size: 14px;
        padding: 5px 10px;
      }
      .feed-pic {
        position: relative;
        overflow: hidden;
        img {
          float: left;
          width: 100%;
        }
        .videoplay {
          position: absolute;
          top: 0; left: 0; z-index: 2;
          height: 100%;
          width: 100%;
          background: url(./images/playicon_video@3x.png) no-repeat center;
          background-size: 50px;
        }
      }
    }

    // 到底了
    .feed-none {
      text-align: center;
      font-size: 12px;
      color: #999;
      padding: 10px 0;
    }
  }
}